{% load static %}

<!doctype html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <link rel="icon" href="{% static '/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/burgermenu.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
{% include 'includes/header.html' %}
<main class="main--section">
    {% block section %}

    {% endblock %}
</main>
{% include 'includes/mobile-bucket.html' %}
{% include 'includes/footer.html' %}
{% block js %}
        <script src="{% static 'js/base.js' %}"></script>
{% endblock %}
</body>
</html>
