* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Segoe UI";
}

body {
    background: linear-gradient(180deg, #f0f8ff, #ffffff);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    margin: 1% 10% 0 10%;
}

nav {
    background: linear-gradient(#1e3a8a, #3b82f6);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3% 2%;
    height: 100%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    position: relative;
    z-index: 10;
}

.btn {
    background: linear-gradient(90deg, #1e90ff, #00bfff);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.btn-category-dropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.white-container {
    display: block;
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

.btn:hover {
    color: #f0f8ff;
    transform: scale(1.02);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
}


.main--section {
    margin-top: 2.4%;
    margin-left: 10%;
    margin-right: 10%;
}

.header-logo {
    width: 70px;
    height: auto;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu li {
    position: relative;
    float: left;
}

.main-menu li a {
    padding: 10px;
    font-size: 1rem;
    display: block;
    color: #E0F7FA;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease, color 0.1s ease;
}

.main-menu li a:hover {
    transform: scale(1.05);
    color: deepskyblue;
}


.btn-category {
    padding: 10px;
    display: block;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease, color 0.1s ease;
    border: none;
    background: none;
    color: #E0F7FA;
    font-size: 1rem;
    cursor: pointer;
}

.btn-category:hover {
    transform: scale(1.05);
    color: deepskyblue;
}

.sidebar-phone-img {
    width: 25px;
    height: auto;
}

.page-footer {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: auto;
    background: linear-gradient(#3b82f6, #1e3a8a);
    border-radius: 10px 10px 0 0;
    padding: 2%;
    position: relative;
    display: flex;
}

.btn-paginator {
    display: flex;
    justify-content: center; /* Центрирует по горизонтали */
    align-items: center; /* Центрирует по вертикали */
    background: #1e90ff;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none; /* Убирает подчеркивание ссылки */
}


.btn-paginator-selected {
    background: darkgrey;
}

.step-links {
    display: inline-flex;
    gap: 1rem;
}

.pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    min-width: 150px;
    margin-top: 35px;
    color: grey;
    padding: 15px 0;
    border-radius: 10px;
    gap: 1rem;
}

.paginator-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.page-list {
    font-size: 0.9rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.footer-text {
    font-size: 0.57rem;
    color: #E0F7FA;
    margin-bottom: 1rem;
}

.page-footer-menu {
    display: flex;
    gap: 3rem;
}

.page-footer-menu li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ul-nav-subfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.li-footer-phone a {
    padding: 5px;
    font-size: 1.1rem;
    display: block;
    color: #E0F7FA;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease, color 0.1s ease;
}

.ul-nav-subfooter a {
    padding: 5px;
    font-size: 1.1rem;
    display: block;
    color: #E0F7FA;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease, color 0.1s ease;
}


.ul-nav-subfooter li:last-child {
    display: none;
}

.nav-subfooter .footer-text {
    font-weight: bold;

}

.social-media-icons-footer {
    width: 15%;
}

.mobile-bucket-text-image a {
    display: inline-flex;
    align-items: center;
    color: white;
}

.mobile-bucket-text-image img {
    margin-left: 0.5rem;
    height: 20px;
    width: auto;
}

.desktop-bucket-button {
    position: relative;
    border: none;
}

.nav-img-button {
    height: 35px;
    width: auto;
}

.desktop-bucket-quantity {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: bold;
    min-width: 20px;
    min-height: 20px;
    padding: 4px;
    font-size: 0.5rem;
}

.desktop-bucket img {
    height: 35px;
}

@media (max-width: 1099px) {
    .HideOnMobile {
        display: none !important;
    }

    .page-footer-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 5% 5%;
    }

    .page-footer-menu li:first-child {
        order: 1;
        grid-column: 1 / 3;
        justify-self: center;
        align-self: center;
    }
}

.blue-bold-text {
    color: #0078d4;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
}

.dropdown {
    cursor: pointer;
}

.drop-down-category {
    margin-top: 14px;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background: linear-gradient(155deg, #3b82f6, #1e3a8a);
    padding: 1px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 5s;
    align-items: center;
    width: 100%;
}

@media (max-width: 600px) {
    .page-footer-menu {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .page-footer {
        margin-left: 3%;
        margin-right: 3%;
    }

    .btn {
        width: 150px;
    }

    .desktop-bucket-button {
        display: none;
    }

    .user-profile {
        display: none;
    }

    header {
        position: fixed;
        width: 100%;
        margin: 0;
        padding: 0 5px;
        z-index: 100;
    }

    .main--section {
        padding-top: 80px;
        margin-left: 1%;
        margin-right: 1%;
    }
}

.mobile-bucket-container {
    display: flex;
    flex-direction: row;
    background: deepskyblue;
    position: fixed;
    bottom: 0;
    z-index: 2;
    left: calc(5px + env(safe-area-inset-left));
    right: calc(5px + env(safe-area-inset-right));

    height: 50px;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    color: #FFFFFF;
    border-radius: 15px;
    bottom: calc(5px + env(safe-area-inset-bottom));
}

@media (max-width: 1099px) {
    nav.active {
        background: linear-gradient(#1e3a8a, #3b82f6);
        border-radius: 15px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px 15px;
        width: fit-content;
        height: 100%;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        position: relative;
        z-index: 10;
    }

    header.active {
        position: fixed;
        width: initial;
        margin: 0;
        padding: 0 5px;
        z-index: 55;
        right: 2%;
    }
}

@media (min-width: 1100px) {
    .HideOnDesktop {
        display: none !important;
    }
}



