* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('/static/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 700;
    font-style: normal;
}

body {
    background: linear-gradient(180deg, #f0f8ff, #ffffff);
    min-height: 100vh;
}

header {
    margin: 1% 10% 0 10%;
}

nav {
    background: linear-gradient(#1e3a8a, #3b82f6);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3% 2%;
    height: 100%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    position: relative;
    z-index: 10;

}

.btn {
    background: linear-gradient(90deg, #1e90ff, #00bfff);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-white {
    color: white;
    padding: 3px 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    border: none;
    background: rgba(29, 59, 200, 0.6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 0.8rem;
    width: fit-content;
}

.btn-white:hover {
    color: #f0f8ff;
    transform: scale(1.02);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    color: #f0f8ff;
    transform: scale(1.02);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
}


.main--section {
    margin-top: 2.4%;
    margin-left: 10%;
    margin-right: 10%;
}

.header-logo {
    width: 70px;
    height: auto;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu li {
    position: relative;
    float: left;
}

.main-menu li a {
    padding: 10px;
    font-size: 1rem;
    display: block;
    color: #E0F7FA;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease, color 0.1s ease;
}

.main-menu li a:hover {
    transform: scale(1.05);
    color: deepskyblue;
}

.btn-category {
    padding: 10px;
    font-size: 1rem;
    display: block;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease, color 0.1s ease;
    border: none;
    background: none;
    color: #E0F7FA;
}

.btn-category:hover {
    transform: scale(1.05);
    color: deepskyblue;
}

.sidebar-phone-img {
    width: 25px;
    height: auto;
}

.page-footer {
    display: flex;
    margin-top: 2rem;
    margin-left: 10%;
    margin-right: 10%;
    background: linear-gradient(#3b82f6, #1e3a8a);
    border-radius: 10px 10px 0 0;
    padding: 1% 2%;

}

.footer-text {
    font-size: 0.57rem;
    color: #E0F7FA;
    margin-bottom: 1rem;
}

.page-footer-menu {
    display: flex;
    gap: 3rem;
}

.page-footer-menu li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ul-nav-subfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.li-footer-phone a {
    padding: 5px;
    font-size: 1.1rem;
    display: block;
    color: #E0F7FA;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease, color 0.1s ease;
}

.ul-nav-subfooter a {
    padding: 5px;
    font-size: 1.1rem;
    display: block;
    color: #E0F7FA;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease, color 0.1s ease;
}


.ul-nav-subfooter li:last-child {
    display: none;
}

.nav-subfooter .footer-text {
    font-weight: bold;

}

.social-media-icons-footer {
    width: 15%;
}

.mobile-bucket-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 25px;
    width: fit-content;
    background: deepskyblue;
    padding: 1rem;
    color: white;
    border-radius: 10px;
    z-index: 5;
}

.mobile-bucket-text-image a {
    display: inline-flex;
    align-items: center;
    color: white;
}

.mobile-bucket-container {
    position: fixed;
    right: 25px;
    bottom: 10px;
}

.mobile-bucket-text-image img {
    margin-left: 0.5rem;
    height: 20px;
    width: auto;
}

.desktop-bucket-button {
    position: relative;
    border: none;
}

.nav-img-button {
    height: 35px;
    width: auto;
}

.desktop-bucket-quantity {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: bold;
    min-width: 20px;
    min-height: 20px;
    padding: 4px;
    font-size: 0.5rem;
}

.desktop-bucket img {
    height: 35px;
}

@media (max-width: 1187px) {
    .HideOnMobile {
        display: none !important;
    }

    .page-footer-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 5% 5%;
    }

    .page-footer-menu li:first-child {
        order: 1;
        grid-column: 1 / 3;
        justify-self: center;
        align-self: center;
    }
}

.blue-bold-text {
    color: #0078d4;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
}

.dropdown {
    cursor: pointer;
}

.drop-down-category {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background: linear-gradient(155deg, #3b82f6, #1e3a8a);
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 5s;
}

@media (max-width: 600px) {
    .page-footer-menu {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .page-footer {
        margin-left: 3%;
        margin-right: 3%;
    }

    .btn {
        width: 150px;
    }

    .desktop-bucket-button {
        display: none;
    }

    .user-profile {
        display: none;
    }

    header {
        position: fixed;
        width: 100%;
        margin: 0;
        padding: 0 1rem;
        z-index: 100;
    }

    .main--section {
        padding-top: 80px;
        margin-left: 2%;
        margin-right: 2%;
    }


}

@media (min-width: 1186px) {
    .HideOnDesktop {
        display: none;
    }
}



