.login-page {
    display: flex;
    justify-content: space-between;
}

.information-box {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    width: 100%;
    max-width: 400px;
    min-height: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.login-page .login-box {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    width: 100%;
    max-width: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    min-height: 300px;
}

.restore-password {
    color: grey;
    font-size: 0.7rem;
}

.information-box p {
    color: grey;
    font-size: 0.9rem;
}

.submit-button {
    padding: 1rem 1rem;
    background: linear-gradient(90deg, #00bfff, #1e90ff);
    border-radius: 15px;
    border: none;
    color: white;
}

.submit-button:hover {
    outline: none;
    transition: transform 1s ease, color 1s ease, box-shadow 0.2s ease;
    box-shadow: 0 0 9px rgba(81, 203, 238, 1);
}

.form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #1e90ff;
    border-radius: 25px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 9px rgba(81, 203, 238, 1);
}

.login-box-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media (max-width: 1187px) {
    .login-page {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .login-page .information-box {
        width: 80%;
    }

    .login-page .login-box {
        width: 80%;
    }


}