.container {
    display: block;
    width: 100%;
}

.container a {
    margin-top: 5rem;
    margin-left: 1rem;
    color: black;
    padding: 1rem 1rem;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #1e90ff;
    border-radius: 25px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.container form button {
    padding: 1rem 1rem;
    background: linear-gradient(90deg, #00bfff, #1e90ff);
    border-radius: 15px;
    border: none;
    color: white;
}

.container form button:hover {
    outline: none;
    transition: transform 1s ease, color 1s ease, box-shadow 0.2s ease;
    box-shadow: 0 0 9px rgba(81, 203, 238, 1);
}

.container a:hover {
    outline: none;
    transition: transform 1s ease, color 1s ease, box-shadow 0.5s ease;
    box-shadow: 0 0 9px rgba(81, 203, 238, 1);
    color: deepskyblue;
}

.container h3 {
    text-align: center;
}

.text-danger ul li p {
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.success-alert {
    color: green;
}

.container .btn-btn-btn {
    display: block;
    margin-top: 2rem;
    margin-left: 45%;
    margin-right: 45%;
    min-width: 100px;

}
