.container {
    display: block;
    width: 100%;
}

.container a {
    margin-top: 5rem;
    margin-left: 1rem;
    color: black;
    padding: 1rem 1rem;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    text-align: center;
    border-radius: 1rem;
    border-color: deepskyblue;
    max-width: fit-content;
}

.container form button {
    display: block;
    margin-top: 1rem;
    color: black;
    padding: 1rem 1rem;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}

.container form button:hover {
    outline: none;
    transition: transform 1s ease, color 1s ease, box-shadow 0.5s ease;
    box-shadow: 0 0 9px rgba(81, 203, 238, 1);
    color: deepskyblue;
}

.container a:hover {
    outline: none;
    transition: transform 1s ease, color 1s ease, box-shadow 0.5s ease;
    box-shadow: 0 0 9px rgba(81, 203, 238, 1);
    color: deepskyblue;
}

.container h3 {
    text-align: center;
}

.text-danger ul li p {
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.success-alert {
    color: green;
}

.container .btn-btn-btn {
    display: block;
    margin-top: 2rem;
    margin-left: 45%;
    margin-right: 45%;
    min-width: 100px;

}
