.container a {
    display: block;
    color: black;
    padding: 1rem 1rem;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    max-width: 6rem;
    margin-top: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}