.profile-elems {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 250px;
}

.menu-elem {
    padding: 0 10px;
    border-radius: 1rem;
    max-width: 250px;
}

.span-user-email {
    font-size: 0.6rem;
    color: grey
}

.span-user-discount {
    font-size: 2rem;
    color: white;
}

.profile-elems .menu-elem a {
    display: block;
    width: 100%;
    padding: 10px;
    color: black;
    border-radius: 10px;
    font-size: 1rem;
}

.profile-elems .menu-elem .active-link a {
    background-color: deepskyblue;
    color: white !important;
}

.profile-elems .menu-elem .active-link {
    align-items: center;
    display: flex;
}

.profile-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #F8FAFC;
    width: fit-content;
    text-align: center;
    margin-left: 25px;
    min-width: 400px;
    align-items: center;
}

.discount-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;

}

.white-bold-text {
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.banner-discount-show {
    background-color: #0078d4;
    padding: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.profile-elems .menu-elem ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-elems .menu-elem ul li img {
    max-width: 30px;
    height: auto;
    display: inline-block;
}

.profile-menu li {
    display: flex;
    margin-bottom: 20px;
}

.a-exit {
    color: red !important;
}

.form-user-data {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-user-data label {
    color: #0078d4;
}

.email-confirm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1099px) {
    .profile-elems {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .profile-menu {
        margin-left: initial;

    }

    .discount-container {
        padding: initial;
    }

    .btn {
        width: 100%;
    }

    .white-bold-text {
        color: white;
        font-weight: bold;
        font-size: 2rem !important;
    }

    .banner-discount-show {
        background-color: #0078d4;
        padding: 100px !important;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 1480px) {
    .banner-discount-show {
        padding: 55px;
        margin-left: 15px;
    }

    .white-bold-text {
        font-size: 1.2rem;
    }
}

@media (max-width: 1220px) {
    .banner-discount-show {
        padding: 35px;
        margin-left: 10px;
    }

    .white-bold-text {
        font-size: 1.3rem;
    }

    .span-user-discount {
        font-size: 1.2rem;
    }
}
