.checkout-register-ads {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    max-width: 350px;
    width: 100%;
}

.checkout-register-ads p {
    font-size: 0.8rem;
    color: gray;
    font-weight: unset;
}

.checkout-section {
    display: grid;
    grid-template-columns: auto 500px;
    margin-top: 25px;
    grid-gap: 35px;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 25px;
}

.checkout-form {
    display: block;
    width: 100%;
    background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

.checkout-product-shown {
    display: block;
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

.checkout-product-top {
    display: flex;
    justify-content: space-between;
}

.blue-bold-md {
    color: #0078d4;
    font-weight: bold;
    font-size: 1.1rem;
}

.checkout-product-top-length {
    color: grey;
}

.checkout-product-change {
    color: #0078d4;
}

.swiper-shown-products {
    margin-top: 25px;
}

.swiper {
    display: block;
    height: 200px;

}

.swiper-scrollbar {
    background: rgba(0, 0, 0, 0.1); /* Фон трека */
    width: 15px !important;
}

.swiper-scrollbar-drag {
    background: #0078d4;
    border-radius: 25px;
}

.product-card-checkout {
    display: grid;
    grid-template-columns: 150px auto;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    margin-right: 35px;
    height: 200px;
}

.product-card-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 15px;
}

.product-card-checkout-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: grey;
}

.checkout-form-input .form-group {
    display: grid;
    grid-template-columns: 160px 160px 200px;
    gap: 25px;
}

.checkout-form-input label {
    margin-left: 10px;
}

.checkout-form-input {
    margin-top: 20px;
}

.important-red {
    color: red;
}

