.checkout-register-ads {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    max-width: 350px;
    width: 100%;
}

.checkout-register-ads p {
    font-size: 0.8rem;
    color: gray;
    font-weight: unset;
}

.checkout-section {
    display: grid;
    grid-template-columns: auto 500px;
    margin-top: 25px;
    grid-gap: 35px;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.form-checkout {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.check-form-title-number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: red;
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
    font-size: 16px;
}

.form-group-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.radio-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 150px;
    justify-content: center;
    align-items: center;
}

.delivery-choice-group {
    gap: 20px;

}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.user-delivery-container {
    background: #fff;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 50px;
    justify-content: center;
    transition: all 1s;
    border: none;
}

.user-delivery-container:hover {
    transform: scale(1.02);
}

.history-addresses {
    height: 50px;
}

.checkout-form {
    display: block;
    width: 100%;
    background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

.checkout-product-top {
    display: flex;
    justify-content: space-between;
}

.blue-bold-md {
    color: #0078d4;
    font-weight: bold;
    font-size: 1.1rem;
}

.checkout-form-title {
    display: flex;
    gap: 5px;
    align-items: center;
}

.checkout-product-top-length {
    color: grey;
}

.text-grey {
    color: gray;
    font-weight: bold;
    font-size: 1.2rem;
}

.checkout-product-change {
    color: #0078d4;
}

.swiper-shown-products {
    margin-top: 25px;
}

.swiper0 {
    display: block;
    height: 200px;
}

.swiper2 {
    height: 500px !important;
    width: 100%;
}

.swiper2 .swiper-wrapper .swiper-slide {
    height: auto !important;
}

.HiddenRef {
    display: none;
}

.swiper-scrollbar {
    background: rgba(0, 0, 0, 0.1); /* Фон трека */
    width: 15px !important;
}

.swiper-scrollbar-drag {
    background: #0078d4;
    border-radius: 25px;
}

.product-card-checkout {
    display: grid;
    grid-template-columns: 150px auto;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    margin-right: 35px;
    height: 200px;
}

.product-card-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 15px;
}

.product-card-checkout-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: grey;
}


.checkout-form-input label {
    margin-left: 10px;
}

.checkout-form-input {
    margin-top: 20px;
}

.important-red {
    color: red;
}

.blured-div {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);

}

.novaposhta-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

.novaposhta-window {
    display: flex;
    flex-direction: column;
    max-height: 670px;
    height: 100%;
    max-width: 1200px;
    width: 100%;
}

.close-window-title {
    width: 35px;
    height: 35px;
}

.novaposhta-window-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-height: 50px;
}

.novaposhta-window-content {
    background: #ffffff;
    margin-top: 30px;
    height: 500px;
    width: 100%;
}

.window-button-close {
    border: none;
    background: none;
    height: 0;
    cursor: pointer;
}

.hidden-field {
    display: none !important;
}

.novaposhtaFormCourier {
    display: flex;
    flex-direction: column;
}

.novaposhtaFormCourier label {
    color: grey;
    font-weight: bold;
    margin-bottom: 3px;
}

.btn {
    font-size: 20px;
    height: 50px !important;
}

.novaposhtaFormCourier input {
    width: 100%;
    background: none;
    font-size: 1.2rem;
    border: 2px solid #cbd5e1;
    border-radius: 10px;
    height: 55px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.novaposhta-input {
    display: flex;
    width: 100%;
    height: 55px;
    border: 2px solid #cbd5e1;
    border-radius: 10px;
    margin-bottom: 10px;
}

.novaposhta-output-city {
    display: flex;
    margin-top: 10px;
    height: 100%;
}

.option-item {
    display: flex;
    width: 100%;
    height: 89px;
    align-items: center;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
}

.option-item:hover {
    transition: all 0.2s ease-in-out;
    background-color: #cccccc;
}

.no-found-div {
    margin-top: 25px;
    text-align: center;
}

.no-found-text {
    font-size: 25px;
}

.option-info-text {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option-info-text .option-text-title {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.option-info-text .option-text-address {
    color: grey;
    font-size: 0.8rem;
}

.novaposhta-input img {
    height: 100%;
}

.novaposhta-input input {
    width: 100%;
    border: none;
    background: none;
    font-size: 1.2rem;
}

.novaposhta-input input:focus {
    outline: none; /* Убирает рамку */
    box-shadow: none; /* Убирает тень */
}