[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
requests = "*"
celery = "*"
django-extensions = "*"
aiogram = "*"
django = "==4.2.17"
redis = "*"
eventlet = "*"
django-redis = "*"
psycopg2-binary = "*"
celery-redbeat = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.0"
