{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/form-control.css' %}">
    <script src="https://unpkg.com/imask"></script>
{% endblock %}

{% block section %}
    <p class="blue-bold-text">Оформлення замовлення</p>
    {% if not user.is_authenticated %}
        <div class="checkout-register-ads">
            <p>Зареєструйтесь, і після першого замовлення поля заповнюватимуться автоматично.</p>
            <a class="btn" href="{% url 'users:login' %}">Авторизуватися</a>
        </div>
    {% endif %}
    <section class="checkout-section">
        <div class="checkout-container">
            <form class="form-checkout" method="POST">
                <div class="checkout-form">
                    <div class="checkout-form-title">
                        <span class="check-form-title-number">1</span>
                        <p class="blue-bold-md">Контактні дані</p>
                    </div>
                    <div class="form-group">
                        <div class>
                            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}<span
                                    class="important-red">*</span></label>
                            {% if form.name.errors %}
                                <ul class="error-list">
                                    {% for error in form.name.errors %}
                                        <li class="error-item">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {{ form.name }}
                        </div>
                        <div>
                            <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}<span
                                    class="important-red">*</span></label>
                            {% if form.last_name.errors %}
                                <ul class="error-list">
                                    {% for error in form.last_name.errors %}
                                        <li class="error-item">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {{ form.last_name }}
                        </div>
                        <div>
                            <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}<span
                                    class="important-red">*</span></label>
                            {% if form.phone.errors %}
                                <ul class="error-list">
                                    {% for error in form.phone.errors %}
                                        <li class="error-item">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {{ form.phone }}
                        </div>
                    </div>
                </div>

                <div class="checkout-form">
                    <div class="checkout-form-title">
                        <span class="check-form-title-number">2</span>
                        <p class="blue-bold-md">Доставка</p>
                    </div>
                    <div class="form-group delivery-choice-group">
                        {{ form.type_of_delivery }}
                        {% if user.is_authenticated %}
                            {% if user.nova_addresses.exists %}
                                <div class="white-container user-delivery-container">
                                    <img class="history-addresses"
                                         src="{% static 'checkout/img/history-addresses.png' %}"
                                         alt="Ваши сохраненные адреса картинка">
                                    <p class="text-grey">Вибрати зі збережених адрес</p>
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M5.49399 1.44891L10.0835 5.68541L10.1057 5.70593C10.4185 5.99458 10.6869 6.24237 10.8896 6.4638C11.1026 6.69642 11.293 6.95179 11.4023 7.27063C11.5643 7.74341 11.5643 8.25668 11.4023 8.72946C11.293 9.0483 11.1026 9.30367 10.8896 9.53629C10.6869 9.75771 10.4184 10.0055 10.1057 10.2942L10.0835 10.3147L5.49398 14.5511L4.47657 13.4489L9.06607 9.21246C9.40722 8.89756 9.62836 8.69258 9.78328 8.52338C9.93272 8.36015 9.96962 8.28306 9.98329 8.24318C10.0373 8.08559 10.0373 7.9145 9.98329 7.7569C9.96963 7.71702 9.93272 7.63993 9.78328 7.4767C9.62837 7.3075 9.40722 7.10252 9.06608 6.78761L4.47656 2.55112L5.49399 1.44891Z"
                                              fill="#475569"></path>
                                    </svg>
                                </div>
                            {% endif %}
                        {% endif %}
                        <button disabled
                                onclick="document.getElementsByClassName('novaposhta-container')[0].style.display='flex';"
                                type="button" id="novaposhta-button"
                                class="white-container user-delivery-container blured-div">
                            <img class="history-addresses" src="{% static 'checkout/img/nova_poshta_icon.webp' %}"
                                 alt="">
                            <p class="text-grey">Вибрати спосіб доставки</p>
                            <div class="button-img-container">

                            </div>
                        </button>
                    </div>
                </div>

                <div class="checkout-form">
                    <div class="checkout-form-title">
                        <span class="check-form-title-number">3</span>
                        <p class="blue-bold-md">Оплата</p>
                    </div>
                </div>
            </form>


        </div>

        <div class="white-container">
            {% include 'checkout/includes/right-container.html' %}
        </div>

        <div class="novaposhta-container">
            <div class="novaposhta-window white-container">
                <div class="novaposhta-window-title">
                    <p class="blue-bold-text novaposhta-window-title-change">Вибрати відділення</p>
                    <button class="window-button-close"
                            onclick="document.getElementsByClassName('novaposhta-container')[0].style.display='none';">
                        <img class="close-window-title" src="{% static 'checkout/img/close_blue.png' %}" alt="">
                    </button>
                </div>
                <div class="novaposhta-window-content">
                    <div id="novaposhta-input-courier" class="novaposhtaFormCourier hidden-field">
                        <label for="courier-field-city">Місто <span class="important-red">*</span></label>
                        <input type="search" id="courier-field-city" placeholder="Введіть місто"/>
                        <label for="courier-field-street">Вулиця <span class="important-red">*</span></label>
                        <input type="search" id="courier-field-street" placeholder="Введіть вулицю"/>
                        <label for="courier-field-house">Будинок <span class="important-red">*</span></label>
                        <input type="search" id="courier-field-house" placeholder="Введіть номер будинку"/>
                        <label for="courier-field-appartment">Квартира</label>
                        <input type="search" id="courier-field-appartment" placeholder="Введіть квартиру"/>
                        <button class="btn">Підтвердити</button>
                    </div>
                    <div id="CitySearth-ware" class="novaposhta-input">
                        <img src="{% static 'checkout/img/search_cbd5e1.png' %}" alt="">
                        <input type="search" id="city-search" placeholder="Введіть місто або населений пункт"/>
                    </div>
                    <div id="warehouse-searchID" class="novaposhta-input hidden-field">
                        <img src="{% static 'checkout/img/search_cbd5e1.png' %}" alt="">
                        <input type="search" id="warehouse-search" placeholder="Введіть номер відділення або адресу"/>
                    </div>
                    {{ form.city_ref_hidden }}
                    {{ form.warehouse_id_hidden }}
                    {{ form.courier }}
                    <div class="novaposhta-output-city">
                        <div class="swiper swiper2">
                            <div class="swiper-wrapper swiper-items">
                            </div>
                            <div class="swiper-scrollbar"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const novapost_city = "{% url 'novapost:get_city' %}";
        const novapost_warehouses = "{% url 'novapost:get_warehouses' %}"
        const csrf = "{{ csrf_token }}"
    </script>
    <script src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}