{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/form-control.css' %}">
    <script src="https://unpkg.com/imask"></script>
{% endblock %}
{% block robots_follow %}noindex, nofollow{% endblock %}

{% block section %}
    <p class="blue-bold-text">Оформлення замовлення</p>
    {% if not user.is_authenticated %}
        <div class="checkout-register-ads">
            <p>Зареєструйтесь, і після першого замовлення поля заповнюватимуться автоматично.</p>
            <a class="btn" href="{% url 'users:login' %}">Авторизуватися</a>
        </div>
    {% endif %}
    <section class="checkout-section">
        <div class="checkout-container">
            <form id="FormCheckout" class="form-checkout" method="POST">
                {% csrf_token %}
                {{ form.warehouse_number }}
                <div class="checkout-form">
                    <div class="checkout-form-title">
                        <span class="check-form-title-number">1</span>
                        <p class="blue-bold-md">Контактні дані</p>
                    </div>
                    <div class="form-group">
                        {% if form.name.errors %}
                            <ul class="error-list">
                                {% for error in form.name.errors %}
                                    <li class="error-item">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class>
                            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}<span
                                    class="important-red">*</span></label>
                            {{ form.name }}
                        </div>
                        {% if form.last_name.errors %}
                            <ul class="error-list">
                                {% for error in form.last_name.errors %}
                                    <li class="error-item">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div>
                            <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}<span
                                    class="important-red">*</span></label>
                            {{ form.last_name }}
                        </div>
                        {% if form.phone.errors %}
                            <ul class="error-list">
                                {% for error in form.phone.errors %}
                                    <li class="error-item">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div>
                            <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}<span
                                    class="important-red">*</span></label>
                            {{ form.phone }}
                        </div>
                    </div>
                </div>
                <div class="checkout-form">
                    <div class="checkout-form-title">
                        <span class="check-form-title-number">2</span>
                        <p class="blue-bold-md">Доставка</p>
                    </div>
                    {% if form.errors %}
                        {% if form.non_field_errors %}
                            <div class="error-list">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="form-group delivery-choice-group">
                        {% if user.is_authenticated %}
                            {% if user.nova_addresses.exists %}
                                {{ form.address_from_memory }}
                                <button type="button"
                                        onclick="document.getElementsByClassName('novaposhta-users-addresses')[0].style.display='flex';"
                                        id="UsersAddressesButton"
                                        class="white-container user-delivery-container">
                                    <img class="history-addresses"
                                         src="{% static 'checkout/img/history-addresses.png' %}"
                                         alt="Ваши сохраненные адреса картинка">
                                    <p class="text-grey">Вибрати зі збережених адрес</p>

                                    <div class="button-img-container">

                                    </div>
                                </button>
                            {% endif %}
                        {% endif %}
                        {{ form.delivery_type }}
                        <button disabled
                                onclick="document.getElementsByClassName('novaposhta-container')[0].style.display='flex';"
                                type="button" id="novaposhta-button"
                                class="white-container user-delivery-container blured-div">
                            <img class="history-addresses" src="{% static 'checkout/img/nova_poshta_icon.webp' %}"
                                 alt="">
                            <p class="text-grey">Вибрати спосіб доставки</p>
                            <div class="button-img-container">

                            </div>
                        </button>
                    </div>
                </div>
                <div class="checkout-form">
                    <div class="checkout-form-title">
                        <span class="check-form-title-number">3</span>
                        <p class="blue-bold-md">Оплата</p>
                    </div>
                    {% if form.payment_type.errors %}
                        {% for error in  form.payment.errors %}
                            <ul>
                                <li class="error-list">
                                    {{ error }}
                                </li>
                            </ul>
                        {% endfor %}
                    {% endif %}
                    <div class="payment-radio">
                        {{ form.payment_type }}
                    </div>
                </div>
                {{ form.user_address }}
            </form>
        </div>

        {% include 'checkout/includes/right-container.html' %}

        <div class="novaposhta-container">
            <div class="novaposhta-window white-container">
                <div class="novaposhta-window-title">
                    <p class="blue-bold-text novaposhta-window-title-change">Вибрати відділення</p>
                    <button class="window-button-close"
                            onclick="document.getElementsByClassName('novaposhta-container')[0].style.display='none';">
                        <img class="close-window-title" src="{% static 'checkout/img/close_blue.png' %}" alt="">
                    </button>
                </div>
                <div class="novaposhta-window-content">
                    <div id="novaposhta-input-courier" class="novaposhtaFormCourier hidden-field">
                        <label for="courier-field-city">Місто <span class="important-red">*</span></label>
                        <input type="search" id="courier-field-city" placeholder="Введіть місто"/>
                        <label for="courier-field-street">Вулиця <span class="important-red">*</span></label>
                        <input type="search" id="courier-field-street" placeholder="Введіть вулицю"/>
                        <label for="courier-field-house">Будинок <span class="important-red">*</span></label>
                        <input type="search" id="courier-field-house" placeholder="Введіть номер будинку"/>
                        <label for="courier-field-apartment">Квартира</label>
                        <input type="search" id="courier-field-apartment" placeholder="Введіть квартиру"/>
                        <button
                                disabled
                                id="AwakeButtonCourier"
                                class="btn blured-div"
                                onclick="courierButtonSubmit()"
                        >
                            Підтвердити
                        </button>
                    </div>
                    <div id="CitySearth-ware" class="novaposhta-input">
                        <img src="{% static 'checkout/img/search_cbd5e1.png' %}" alt="">
                        <input type="search" id="city-search" placeholder="Введіть місто або населений пункт"/>
                    </div>
                    <div id="warehouse-searchID" class="novaposhta-input hidden-field">
                        <img src="{% static 'checkout/img/search_cbd5e1.png' %}" alt="">
                        <input type="search" id="warehouse-search" placeholder="Введіть номер відділення або адресу"/>
                    </div>
                    <div class="novaposhta-output-city">
                        <div class="swiper swiper2">
                            <div class="swiper-wrapper swiper-items swiper-novaposhta-output">

                            </div>
                            <div class="swiper-scrollbar"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="novaposhta-users-addresses">
            <div class="novaposhta-window white-container">
                <div class="novaposhta-window-title">
                    <p class="blue-bold-text novaposhta-window-title-change">Збережені адреси</p>
                    <button class="window-button-close"
                            onclick="document.getElementsByClassName('novaposhta-users-addresses')[0].style.display='none';">
                        <img class="close-window-title" src="{% static 'checkout/img/close_blue.png' %}" alt="">
                    </button>
                </div>
                <div class="user-output-addresses">
                    <div class="swiper swiper3">
                        <div class="swiper-wrapper swiper-items">
                            {% for address in user.nova_addresses.all %}
                                <div class="swiper-slide">
                                    <div class="option-item">
                                        <div class="option-info-text">
                                            <p class="option-text-title">
                                                <span class="option-text-title-span">{{ address.delivery_address|title }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-scrollbar"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const novapost_city = "{% url 'novapost:get_city' %}";
        const novapost_warehouses = "{% url 'novapost:get_warehouses' %}"
        const csrf = "{{ csrf_token }}"
    </script>
    <script src="{% static 'checkout/js/checkout.js' %}"></script>
    {% if not user.is_email_confirmed %}
    <div class="email-verify-warning">
        <div class="email-div white-container">
            <p class="blue-bold-md">Для створення замовлення пошта має бути підтверджена</p>
            <a class="btn" href="{% url 'users:send-user-confirm-again' %}">Підтвердити</a>
            <a class="btn btn-grey" href="{% url 'cart:cart-view' %}">Назад</a>
        </div>
    </div>
    {% endif %}
{% endblock %}