{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'mainapp/css/card.css' %}">{% endblock %}


{% block section %}
    <div class="container">
    {% include 'mainapp/includes/desktop-search.html' %}
        <div class="card-container">
            {% for category in categories %}
                <div class="col">
                <h4 class="gategory-name">{{ category.name }}</h4>
                    <fieldset>
                        <img class="col-img" src="{{ category.image_category.url }}" alt="{{ category.slug }}">
                    </fieldset>
                    <p class="col-descr">{{ category.description|truncatechars:255 }}</p>
                    <div class="col-price-btn">
                        <a class="btn" href="{{ category.get_absolute_url }}">Перейти</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}