{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'mainapp/css/index.css' %}">{% endblock %}


{% block section %}
    <div class="container">
    {% include 'mainapp/includes/product_filter.html' %}
        <div class="row">
            {% for category in categories %}
                <div class="col">
                    <fieldset>
                        <img class="col-img" src="{{ category.image_category.url }}" alt="{{ category.slug }}">
                    </fieldset>
                    <h4>{{ category.name }}</h4>
                    <p class="col-descr">{{ category.description|truncatechars:23 }}</p>
                    <div class="col-price-btn">
                        <a href="{{ category.get_absolute_url }}">Детальніше</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}