{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'mainapp/css/index.css' %}">{% endblock %}

{% block title %}Інтернет-магазин в'яленої і сушеної риби преміум класу{% endblock %}


{% block section %}
    <div class="container">
    {% include 'mainapp/includes/product_filter.html' %}
        <div class="row">
            {% for product in products %}
                <div class="col">
                    <fieldset>
                        <legend class="leg-new">Новинка</legend>
                        <img class="col-img" src="{{ product.image_product.url }}" alt="{{ product.name }}">
                    </fieldset>

                    <h4>{{ product.name }}</h4>
                    <p class="col-grams">1 кг</p>
                    <p class="col-descr">{{ product.description|truncatechars:25 }}</p>
                    <div class="col-price-btn">
                        <h5>{{ product.price }} <span>грн</span></h5> <a href="{{ product.get_absolute_url }}">Детальніше</a>
                    </div>
                </div>
            {% endfor %}
            <div class="col">
                <div class="more-products">
                    <a href="{% url 'mainapp:AllProducts' %}">
                        <img src="{% static 'mainapp/img/all_products_blue.png' %}" alt="" class="img-default">
                        <p>Всі продукти</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}