{% extends "base.html" %}
{% load static %}
{% load my_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'mainapp/css/mainpage.css' %}">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="{% static 'mainapp/css/card.css' %}">
{% endblock %}
{% block title %}Інтернет-магазин в'яленої і сушеної риби преміум класу{% endblock %}

{% block section %}
    <section class="video-section">
        <video id="background-video" src="{% static 'video/video.mp4' %}" autoplay loop muted></video>
        <div id="video-text">
            <p>Ласкаво просимо до світу смаку! У нас ви знайдете сушену та в'ялену рибу найвищої якості – ідеально
                свіжу, з насиченим смаком і ароматом, які підкорять навіть найвибагливіших гурманів.</p>
        </div>
        <div id="video-product-button">
            <a class="btn" href="{% url 'mainapp:AllProducts' %}">Продукти</a>
        </div>
    </section>
    <section class="content-section">
        <div class="section-info">
            <p class="info-text">Те, що робить нас особливими</p>
            <div class="section-banners">
                <div>
                    <h5>Швидкість</h5>
                    <img src="{% static "img/rocket.png" %}" alt="швидкість доставки">
                    <p>Ми працюємо для вас без вихідних</p>
                </div>
                <div>
                    <h5>Безпека</h5>
                    <img src="{% static 'img/heart.png' %}" alt="">
                    <p>Свіжість продукту – наша головна турбота</p>
                </div>
                <div>
                    <h5>Натуральність</h5>
                    <img src="{% static "img/natural.png" %}" alt="">
                    <p>Риба без секретів – 100% натуральна</p>
                </div>
            </div>
        </div>
    </section>
    <section class="slider-section">
        <h5 class="info-text">Нові продукти</h5>
        <div>
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    {% for product in products %}
                        <div class="swiper-slide">
                            <div class="card-container">
                                {% include "mainapp/includes/card-item.html" %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            direction: 'horizontal',
            loop: true, // Цикличный слайдер
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            spaceBetween: 15,
        });

        document.addEventListener("scroll", function () {
            var scroll = window.scrollY;
            var nav = document.querySelector("nav");

            if (scroll > 100) {
                nav.style.background = "linear-gradient(#1e3a8a, #3b82f6)";
            } else {
                nav.style.background = "";
            }
        });
    </script>
{% endblock %}