{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'mainapp/css/index.css' %}">{% endblock %}
{% block title %}Інтернет-магазин в'яленої і сушеної риби преміум класу{% endblock %}


{% block section %}
    <div class="container">
    {% include 'mainapp/includes/product_filter.html' %}
        <div class="row">
            {% for product in products %}
                {% include 'mainapp/includes/card-item.html' %}
            {% endfor %}
            <div class="col">
                <div class="more-products">
                    <a href="{% url 'mainapp:AllProducts' %}">
                        <img src="{% static 'mainapp/img/all_products_blue.png' %}" alt="" class="img-default">
                        <p>Всі продукти</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}