{% extends 'base.html' %}
{% load static %}
{% load datetime-diffrence %}
{% block head %}
    <link rel="stylesheet" href="{% static 'mainapp/css/product_item.css' %}">
    <link rel="stylesheet" href="{% static 'mainapp/css/image_show_bar.css' %}">
{% endblock %}


{% block section %}
    <div class="nav_product">
        <a href="{% url 'mainapp:CategorySelect' product.product_category.slug %}"
           class="leg-new"><span>&#8592; Назад</span></a>
        <a href="{% url 'mainapp:main' %}"><img src="{% static 'mainapp/img/homenav.png' %}"
                                                alt="Back to main page"></a>
        <img src="{% static 'mainapp/img/arrow_.png' %}" alt="">
        <a href="{% url 'mainapp:Categories' %}">Категорії</a>
        <img src="{% static 'mainapp/img/arrow_.png' %}" alt="">
        <a href="
                {% url 'mainapp:Categories' %}{{ product.product_category.slug }}">{{ product.product_category.name }}</a>
        <img src="{% static 'mainapp/img/arrow_.png' %}" alt="">
        <p>{{ product.name }}</p>
    </div>
    <div class="col">
        <div class="row">
            {% include 'mainapp/includes/image_show_bar.html' %}
        </div>
        <div class="row-info-buy">
            <fieldset>
                {% if product.time_create|time_difference < 30 %}
                    <legend class="leg-new">Новинка</legend>
                {% endif %}
                <h3>{{ product.name }}</h3>
            </fieldset>
            <p>{{ product.description }}</p>
            <div class="product-choices">
                <h4><span>Ціна за кілограм:</span> {{ product.price }}₴</h4>
                <form id="add-to-cart-form">
                    <input type="hidden" id="product_id" value="{{ product.id }}">
                    <div class="choose-weight-form">
                        {% for product_weight in product_weights %}
                            <input type="radio" id="weight{{ forloop.counter }}" name="weight"
                                   value="{{ product_weight.weight }}" {% if forloop.first %}checked{% endif %}>
                            <label for="weight{{ forloop.counter }}">
                                {{ product_weight.weight }}{{ product_weight.weight_calculus }}
                            </label>
                        {% endfor %}
                    </div>
                    <div class="choose-quantity-form">
                        <button type="button" onclick="decreaseQuantity()">-</button>
                        <input type="number" id="quantity" value="1" min="1" step="1">
                        <button type="button" onclick="increaseQuantity()">+</button>
                    </div>

                    <div>
                        <button class="add-to-cart" type="submit" href="#">Додати до Кошику</button>
                        <button class="add-to-cart" href="#">Швидка покупка</button>
                    </div>
                </form>
                {% if not user.is_authenticated %}
                    <div class="discount-advertisement">
                        <img src="{% static "mainapp/img/discount.png" %}" alt="discount image">
                        <a href="{% url 'usersapp:login' %}">Увійдіть для збільшення накопичувальної знижки</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        function decreaseQuantity() {
            const quantityInput = document.getElementById('quantity');
            let currentValue = parseInt(quantityInput.value);

            if (currentValue > parseInt(quantityInput.min)) {
                quantityInput.value = currentValue - 1;
            }
        }

        function increaseQuantity() {
            const quantityInput = document.getElementById('quantity');
            let currentValue = parseInt(quantityInput.value);

            quantityInput.value = currentValue + 1;
        }

    </script>
{% endblock %}