{% extends 'base.html' %}
{% load static %}
{% load datetime-diffrence %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{% static 'mainapp/css/product_item.css' %}">
    <link rel="stylesheet" href="{% static 'mainapp/css/card.css' %}">
{% endblock %}

{% block section %}
    <div class="nav_product">
        <a href="{% url 'mainapp:CategorySelect' product.product_category.slug %}"
           class="btn-grey"><span>&#8592; Назад</span></a>
        <a class="home-image" href="{% url 'mainapp:main' %}">
            <img src="{% static 'mainapp/img/homenav.png' %}" alt="Back to main page">
        </a>
        <img src="{% static 'mainapp/img/arrow_.png' %}" alt="">
        <a class="list-direction" href="{% url 'mainapp:Categories' %}">Категорії</a>
        <img src="{% static 'mainapp/img/arrow_.png' %}" alt="">
        <a class="list-direction" href="{% url 'mainapp:CategorySelect' product.product_category.slug %}">
            {{ product.product_category.name }}
        </a>
        <img src="{% static 'mainapp/img/arrow_.png' %}" alt="">
        <p class="list-direction">{{ product.name }}</p>
    </div>
    <div class="col">
        <div class="image-bar">
            <div class="swiper swiper2">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="{{ product.image_product.url }}" alt="">
                    </div>
                    {% for image in related_products %}
                        <div class="swiper-slide">
                            <img src="{{ image.image.url }}" alt="">
                        </div>
                    {% endfor %}
                </div>
                <!-- Пагинация и навигация для первого слайдера -->
                <div class="swiper-pagination pagination2"></div>
                <div class="swiper-button-next next2"></div>
                <div class="swiper-button-prev prev2"></div>
            </div>
        </div>
        <div class="row-info-buy">
            <div class="cart-top">
                <fieldset>
                    {% if product.time_create|time_difference < 30 %}
                        <legend class="leg-new">Новинка</legend>
                    {% endif %}
                    <p>{{ product.name }}</p>
                </fieldset>
                <div class="product-price-banner">
                    {% if product_weights %}
                        <p>кг / <span>{{ product.price }}</span> грн.</p>
                    {% else %}
                        <p>шт. / <span>{{ product.price }}</span> грн.</p>
                    {% endif %}
                </div>
            </div>
            <div class="product-choices">
                <form id="add-to-cart-form">
                    <input type="hidden" id="product_id" value="{{ product.id }}">
                    {% if product_weights %}
                        <p>Виберіть вагу</p>
                        <div class="choose-weight-form">
                            {% for product_weight in product_weights %}
                                <input type="radio" id="weight{{ forloop.counter }}" name="weight"
                                       value="{{ product_weight.weight }}" {% if forloop.first %}checked{% endif %}>
                                <label for="weight{{ forloop.counter }}">
                                    {{ product_weight.weight }}{{ product_weight.weight_calculus }}
                                </label>
                            {% endfor %}
                        </div>
                    {% else %}
                        <input type="hidden" id="weight" value="0">
                    {% endif %}
                    <p>Виберіть кількість</p>
                    <div class="choose-quantity-form">
                        <button type="button" onclick="decreaseQuantity()">-</button>
                        <input type="number" id="quantity" value="1" min="1" step="1">
                        <button type="button" onclick="increaseQuantity()">+</button>
                    </div>
                    <div class="button-buy">
                        <button id="add-to-cart" class="btn" type="submit">Додати до Кошику</button>
                    </div>
                </form>
                {% if not user.is_authenticated %}
                    <div class="discount-advertisement">
                        <img src="{% static 'mainapp/img/discount.png' %}" alt="discount image">
                        <a href="{% url 'usersapp:login' %}">Увійдіть для збільшення накопичувальної знижки</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="product-additional">
        <div class="product-desc">
            <h3>Опис товару</h3>
            <p>{{ product.description }}</p>
        </div>
        <div class="right-side">
            <div class="additional_info">
                <h3>Більше інформації</h3>
                <ul>
                    <li>
                        <img src="{% static 'mainapp/img/world.png' %}" data-tippy-content="Страна виробник"
                             alt="Країна">
                        {{ more_information.region }}
                    </li>
                    <li>
                        <img src="{% static 'mainapp/img/ingredients.png' %}" data-tippy-content="Інгредієнти"
                             alt="Інгредієнти">
                        {{ more_information.ingredients }}
                    </li>
                    <li>
                        <img src="{% static 'mainapp/img/box.png' %}" data-tippy-content="Упаковка продукту"
                             alt="Упаковка">
                        {{ more_information.packing }}
                    </li>
                    <li>
                        <img src="{% static 'mainapp/img/weight.png' %}" data-tippy-content="Різниця у вазі"
                             alt="Різниця у вазі">
                        {{ more_information.weight_difference }}
                    </li>
                    <li>
                        <img src="{% static 'mainapp/img/salt.png' %}" data-tippy-content="Рівень солі"
                             alt="Рівень солі">
                        {% for _ in "x"|ljust:'5' %}
                            {% if forloop.counter <= more_information.salt_level %}
                                <img src="{% static 'mainapp/img/star.png' %}" alt="">
                            {% else %}
                                <img src="{% static 'mainapp/img/star_grey.png' %}" alt="">
                            {% endif %}
                        {% endfor %}
                    </li>
                    <li>
                        <img src="{% static 'mainapp/img/time.png' %}" data-tippy-content="Термін зберігання продукту"
                             alt="Термін зберігання">
                        {{ more_information.shelf_life }}
                    </li>
                </ul>
            </div>
            <div class="additional_info novabanner">
                <img class="nova_banner" src="{% static 'mainapp/img/nova_pochta_banner.png' %}" alt="nova_pochta">
                <p class="nova-text">Доставка Новою Поштою: у відділення чи поштомат, згідно з тарифами логістичної
                    компанії.</p>
            </div>
        </div>
    </div>
    {% if category_related %}
        <section class="slider-category-selected">
            <h5 class="info-text">Разом смачніше</h5>
            <!-- Slider main container -->
            <div class="swiper swiper1">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    {% for product in category_related %}
                        <div class="swiper-slide">
                            <div class="card-container">
                                {% include "mainapp/includes/card-item.html" %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination pagination1"></div>
            </div>
        </section>
    {% endif %}

    <!-- Подключение скриптов -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
        tippy('[data-tippy-content]');

        const swiper2 = new Swiper('.swiper2', {
            direction: 'horizontal',
            loop: true,
            pagination: {
                el: '.pagination2',
                clickable: true,
            },
            navigation: {
                nextEl: '.next2',
                prevEl: '.prev2',
            },

        });

        // Инициализация первого слайдера
        const swiper1 = new Swiper('.swiper1', {
            direction: 'horizontal',
            loop: true, // Цикличный слайдер
            pagination: {
                el: 'pagination1',
                clickable: true,
            },
            navigation: {
                nextEl: '.next1',
                prevEl: '.prev1',
            },
            watchOverflow: true,
            spaceBetween: 15,

            breakpoints: {
                900: {
                    slidesPerView: 3,
                },
                650: {
                    slidesPerView: 1,
                },
            }
        });

        // Функции изменения количества товара
        function decreaseQuantity() {
            const quantityInput = document.getElementById('quantity');
            let currentValue = parseInt(quantityInput.value);

            if (currentValue > parseInt(quantityInput.min)) {
                quantityInput.value = currentValue - 1;
            }
        }

        function increaseQuantity() {
            const quantityInput = document.getElementById('quantity');
            let currentValue = parseInt(quantityInput.value);

            quantityInput.value = currentValue + 1;
        }

        // Обработка добавления товара в корзину
        $(document).on('click', '#add-to-cart', function (e) {
            e.preventDefault();

            let selectedWeight = $('input[name="weight"]:checked').val() || '{{ product.slug|escapejs }}';

            $.ajax({
                url: "{% url 'cart:cart-add' %}",
                type: "POST",
                data: {
                    'product_id': {{ product.id }},
                    'quantity': $('#quantity').val(),
                    'weight': selectedWeight,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function (response) {
                    console.log(response);
                    const BucketTag = document.getElementsByClassName('desktop-bucket-quantity');
                    if (!BucketTag.length) {
                        document.querySelector('.desktop-bucket-button').innerHTML += `
                            <legend id="bucket-change-quantity" class="desktop-bucket-quantity">
                            ${response.qty}
                            </legend>`;
                    }
                    document.getElementById('bucket-change-quantity').innerText = response.qty;
                },
                error: function (error) {
                    console.log(error);
                }
            })
        });
    </script>
{% endblock %}
