.profile-elems {
    grid-template-columns: 300px auto;
}

.history-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.history-item {
    padding: 20px;
    display: flex;
    gap: 10px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #F8FAFC;
    justify-content: space-between;
}

.item-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.history-time {
    color: gray;
    font-size: 12px;
}