{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/form-control.css' %}">
    <script src="https://unpkg.com/imask"></script>
{% endblock %}
{% block robots_follow %}noindex, nofollow{% endblock %}
{% block title %}Профіль користувача {{ user.name }}{% endblock %}

{% block section %}
    <section>
        <ul class="profile-elems">
            <li class="menu-elem">
                <ul>
                    <li class="active-link">
                        <img src="{% static 'users/img/settings-profile.png' %}" alt="profile icon">
                        <a href="{% url 'users:profile' %}">Профіль</a>
                    </li>
                    <li>
                        <img src="{% static 'img/history.png' %}" alt="profile icon">
                        <a href="{% url 'users:user_history' %}">Історія замовлень</a>
                    </li>
                    <li>
                        <img src="{% static 'img/address.png' %}" alt="profile icon">
                        <a href="{% url 'users:user_addresses' %}">Адреса доставки</a>
                    </li>
                    <li>
                        <img src="{% static 'users/img/password.png' %}" alt="пароль">
                        <a href="{% url 'users:password_change' %}">Змінити пароль</a>
                    </li>
                    {% if not user.is_email_confirmed %}
                        <li>
                            <img src="{% static 'users/img/mail_red.png' %}" alt="подтвердить пошту">
                            <a href="{% url 'users:user_create_confirm' %}">Підтвердити пошту</a>
                        </li>
                    {% endif %}
                    <li class="exit-button">
                        <img src="{% static 'users/img/exit.png' %}" alt="выхiд з аккаунту">
                        <a class='a-exit' href="{% url 'users:logout' %}">Вийти з кабінету</a>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="profile-menu">
                    <li>
                        <form class="form-user-data" method="POST" action="">
                            <h3 class="blue-bold-text">Моя інформація <br><span
                                    class="span-user-email">{{ user.email }}</span></h3>
                            {% csrf_token %}
                            {% for field in form %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% if field.errors %}
                                    <ul class="error-list">
                                        {% for error in field.errors %}
                                            <li class="error-item">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {{ field }}
                            {% endfor %}

                            <button class='btn' type="submit">Обновить</button>
                        </form>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="discount-container">
                    <li class="banner-discount-show">
                        <h3 class="white-bold-text">Моя знижка</h3>
                        <h3 class="span-user-discount">{{ user.discount }}%</h3>
                    </li>
                </ul>
            </li>
            <li>

            </li>
        </ul>
    </section>

    <script>
        const element = document.getElementById('phonenumber');
        const maskOptions = {
            mask: '+{38}(000)-000-00-00'
        };
        const mask = IMask(element, maskOptions);
    </script>

{% endblock %}