.nav-filter {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: rgba(128, 128, 128, 0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: -1;
}

.product-dropmenu-container {
    position: absolute;
    right: 1%;
}

.product-dropmenu-desk {
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 35px;
    border: 4px solid white;
    padding: 5px;
    color: #B721FF;
}

.price-filter-dropmenu-settings {
    display: flex;
    justify-content: space-between;
}

.price-filter-dropmenu-settings button {
    border: none;
    padding: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
}

.price-filter-dropmenu-settings a {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
}

.price-filter-dropmenu-settings a .fas {
    position: absolute;
    top: 16%;
    left: 15%;
}

.price-filter-dropmenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150%;
    left: -155%;
    padding: 10px;
    background: #21D4FD;
    width: 200px;
    height: 200px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in;
    border-radius: 10px;
    gap: 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}



.price-filter-dropmenu-chooses {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    justify-content: center;
    text-align: center;
    width: 100%;
    align-items: center;

}

.price-filter-dropmenu-title {
    font-size: 0.7rem;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.price-filter-dropmenu.active {
    opacity: 1;
    pointer-events: auto; /* Включаем взаимодействие */
    z-index: 15;
}


.noUi-target {
    height: 6px;
    background: #eee;
    border-radius: 15px;
    position: relative;
}

.noUi-connect {
    background: #1e90ff;
    border-radius: 3px;
}

.noUi-handle {
    width: 20px !important;
    height: 20px !important;
    background: #B721FF;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, background-color 0.2s ease;
}


.noUi-handle::before,
.noUi-handle::after {
    content: none !important;
    background: none !important;
    box-shadow: none !important;
}

.noUi-handle:hover {
    transform: scale(1.5);
    background-color: #1e90ff;
}

.noUi-handle:active {
    transform: scale(1.3);
}

.price-in {
    border: none;
    text-align: center;
    outline: none;
    -moz-appearance: textfield;

    ::-webkit-inner-spin-button
;

    ::-webkit-outer-spin-button
;
    font-weight: bolder;
    width: 100px;
    background: none !important;
}

.nav-filter.active {
    width: 350px;
    background-color: rgba(25, 115, 184, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.range-values input {
    background: grey;
    color: white;
}

.range-values-mobile {
    background: #00bfff;
    border-radius: 15px;
}

.range-values-mobile input {
    background: linear-gradient(90deg, #1e90ff, #00bfff) !important;
    color: white;
}

.range-values-mobile input:last-child {
    background: linear-gradient(90deg, #00bfff, #1e90ff) !important;
    color: white;
}


.top-menu-filter {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 35px;
    align-items: center;
    padding: 15px 5px;
    background-color: #21D4FD;
    background-image: linear-gradient(250deg, #21D4FD 0%, #B721FF 100%);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;

}

.nav-burger-list {
    display: flex;
    gap: 35px;
    color: white;
}

.nav-burger-list p {
    margin-bottom: 25px;
}
