.card-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-gap: 1.5rem;
}

.card-container .col {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    max-height: 400px;
    padding: 5% 5%;
    background-color: white;
    border-radius: 10px;
    gap: 1rem;
    margin-top: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-image: linear-gradient(45deg, #1e3a8a, #3b82f6) 1;
}

.nothing-found {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 300px;
}

.card-container .col:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}


.card-container .col img {
    max-width: 200px;
    height: auto;
    width: 100%;
    margin: 0 0 0 0;

}

.card-container .col fieldset {
    display: flex;
    justify-content: center;
    border: none;
    height: 160px;
}

.btn-all-products {
    width: 100%;
}

.col-img {
    pointer-events: none;
    width: auto !important;
}

.card-name-title {
    margin-top: 0.5rem;
}

.col-grams {
    color: deepskyblue;
}

.col-descr {
    color: grey;
    font-size: 0.6rem;
}

.card-container .col .col-price-btn {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.card-container .col .col-price-btn h5 {
    font-size: 1.2rem;
}

.card-image-banner-new-product {
    color: #18D03F;
    padding: 0.3rem;
    background: #ccf5d5;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: bold;
}

.card-container .col .col-price-btn h5 span {
    display: flex;
    color: grey;
    font-size: 0.8rem;
}

.more-products {
    text-align: center;
}

.more-products p {
    padding: 0.3rem;
    background-color: rgba(0, 191, 255, 0.6);
    border-radius: 10px;
    font-size: 0.8rem;
    color: white;
}

.more-products p:hover {
    transition: .2s ease;
    background-color: rgb(16, 232, 66);
    color: white;
}

.card-image-banner {
    position: relative;
}

.card-image-banner-currency-show {
    position: absolute;
    bottom: 10px;
    left: 25px;
    padding: 0;
    margin: 10px;
}

.gategory-name {
    text-align: center;
    color: #0078d4;
}


@media (max-width: 1200px) {
    .card-container {
        grid-template-columns: 1fr 1fr;
        min-width: 200px;
    }
}

@media (max-width: 700px) {
    .card-container {
        grid-template-columns: 1fr;
    }

}