* {
    box-sizing: border-box;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;


}

.slider-image {
    display: block;
    height: 100%;
    width: auto;
    object-fit: contain;
}


.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 2em;
    color: deepskyblue;
    cursor: pointer;
    user-select: none;
}

.nav-button.prev {
    left: 10px;
}

.nav-button.next {
    right: 10px;
}