.col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 300px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;

}

.product-choices {
    display: flex;
    gap: 8px;
}

.row-info-buy fieldset {
    display: flex;
    border: none;
}

#add-to-cart-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.add-to-cart {
    padding: 0.3rem;
    background-color: rgba(0, 191, 255, 0.6);
    border: none;
    border-radius: 10px;
    font-size: 0.8rem;
    color: white;
}

.product-choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

}

.choose-weight-form label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #1e90ff, #00bfff);
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 0 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    font-size: 0.7rem;
}

.product-choices h4 span {
    color: grey;
    font-size: 0.6rem;
}

.product-choices h4 {
    color: black;
}

.choose-weight-form input[type="radio"]:checked + label {
    background: linear-gradient(90deg, #1e90ff, #007acc);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
    border: 2px deepskyblue solid;
}

.choose-weight-form label:hover {
    background: linear-gradient(90deg, #00bfff, #1e90ff);
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}


.choose-quantity-form {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    background-color: white;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.1rem;
    color: black;
}

.choose-weight-form input {
    appearance: none;
}


.choose-quantity-form button {
    border: none;
    background-color: white;
    font-size: 1.4rem;
    padding: 0.1rem;
}

.discount-advertisement {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.discount-advertisement a {
    color: black;
    font-size: 0.8rem;
}

.discount-advertisement img {
    width: 1rem;
    height: auto;
}

.choose-quantity-form input {
    border: none;
    text-align: center;
    outline: none;
    -moz-appearance: textfield;

    ::-webkit-inner-spin-button
;

    ::-webkit-outer-spin-button
;
    max-width: 50px;
}

.add-to-cart:hover {
    transition: .2s ease;
    background-color: rgb(16, 232, 66);
    color: white;

}

.cart-top {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.product-price-banner {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}


.product-price-banner p {
    color: #0078d4 !important;
    text-align: center;
}

.product-price-banner p span {
    color: black;
    font-weight: bolder;
}

.row-info-buy {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #F8FAFC;
}

.row-info-buy p {
    margin-top: 1.5rem;
    color: grey;
}

.cart-top p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.nav_product {
    display: flex;
    height: 10px;
    align-items: center;
    text-align: center;
}

.nav_product img {
    height: 15px;
    width: auto;
}

.home-image {
    margin-left: 15px;
}

.list-direction {
    font-size: 0.7rem;
    color: grey;
}


.product-additional {
    display: flex;
    justify-content: space-between;
}

.product-desc h3 {
    color: #0078d4;
    margin-bottom: 0.7rem;
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-desc {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #3b82f6, #1e3a8a) border-box;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    max-width: 1100px;
    min-height: 505px;
    margin-right: 25px;
}

.nova_banner {
    max-width: 165px;
    margin-bottom: 2rem;
}

.nova-text {
    color: grey;
}

.slider-category-selected {
    height: auto;
    position: relative;
    left: 0;
    right: 0;

}

.swiper-slide img {
    width: auto;
    max-width: 250px;
}

.swiper1 {
    padding: 25px !important;
}

.swiper2 {
    max-height: 400px !important;
}

.swiper2 .swiper-wrapper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

.image-bar {
    min-height: 0;
    min-width: 0;
}

.card-container {
    display: initial !important;
    grid-template-columns: initial !important;
    grid-gap: initial !important;
}

.info-text {
    color: #3b82f6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 4rem;
    text-align: center;
    margin-top: 1rem;
}

.additional_info {
    display: flex;
    flex-direction: column;
    justify-self: end;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #3b82f6, #1e3a8a) border-box;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    width: fit-content;
    height: fit-content;
    min-width: 300px;
    max-width: 300px;
}

.tippy-box {
    background: #007acc;
    color: white; /* Цвет текста */
    border-radius: 8px; /* Скруглённые углы */
    padding: 8px; /* Внутренние отступы */
    font-size: 14px; /* Размер шрифта */
    font-family: Arial, sans-serif;
}

.additional_info ul li {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 1rem;
    color: grey;
    font-size: 0.8rem;
}

.additional_info ul li img {
    display: flex;
    max-width: 30px;
    height: auto;
}

.novabanner {
    background: none;
    box-shadow: none;
}

.additional_info h3 {
    color: #0078d4;
}

@media (max-width: 1100px) {
    .row-info-buy p {
        font-size: 0.9rem;
    }

    .cart-top {
        flex-direction: column;
    }

    .cart-top p {
        font-size: 1.2rem !important;
    }
}

@media (max-width: 880px) {
    .row-info-buy p {
        font-size: 0.7rem;
    }

}

@media (max-width: 550px) {
    .choose-weight-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 950px) {
    .nav_product {
        display: none;
    }

    .col {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    .row-info-buy p {
        font-size: 0.6rem;
    }

    .product-price-banner p {
        font-size: 1.1rem;
    }

    .button-buy {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .product-additional {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .product-desc {
        min-height: fit-content;
    }

    .additional_info {
        display: flex;
        justify-content: center;
        width: auto;
        height: auto;
        max-width: none;
    }

}