.search-container {
}

.search-form {
    position: relative;
    left: 50%;
    transform: translate(-40%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 35px;
    border: 4px solid white;
    padding: 5px;
}

.search-form:hover {
    width: 250px;
    cursor: pointer;
}

.search-form:hover .search {
    display: block;
}

.search-form:hover .fa {
    background: #0078d4;
    color: white;
    text-align: left;

    transform: translateX(200px);
}

.search-form button {
    border: none;
    background: none;
}

.search {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 42px;
    line-height: 42px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    color: #B721FFFF;
    text-align: center;
    font-size: 1.3em;
    transition: all 1s;
}

