{% load static %}

<header>
    <nav class="">
        <a class="" href="{% url 'mainapp:AllProducts' %}">
            <img class="header-logo" src="{% static 'img/logo-banner.png' %}" alt="Logo">
        </a>
        <ul class="main-menu">
            {% include 'includes/main-menu-desktop.html' %}
            <li>
                <fieldset class="desktop-bucket-button HideOnMobile">
                    {% if cart|length > 0 %}
                        <legend id="bucket-change-quantity" class="desktop-bucket-quantity">{{ cart|length }}</legend>
                    {% endif %}
                    <a class="desktop-bucket" href="{% url 'cart:cart-view' %}"><img
                            src="{% static 'img/shopping_basket.png' %}" alt=""></a>
                </fieldset>
            </li>
            {% if user.is_anonymous %}
                <li>
                    <a href="{% url 'users:login' %}"><img class='nav-img-button' src="{% static 'img/login.png' %}"
                                                           alt=""></a>
                </li>
            {% elif user.is_authenticated %}
                <li class="user-profile">
                    <a href="{% url 'users:profile' %}">
                        <img class='nav-img-button' src="{% static 'img/profile.png' %}" alt="Аккаунт">
                    </a>
                </li>
            {% endif %}
            <li>
                <button class="burger HideOnDesktop"
                        onclick="document.querySelector('.nav-burger').classList.toggle('active');">
                    <img class="nav-img-button" src="{% static 'img/burger-menu.png' %}" alt="">
                </button>

                <div class="nav-burger">
                    <div class="up-menu">
                        <div class="profile">
                            {% if user.is_authenticated %}
                                <a href="{% url 'users:profile' %}"><img src="{% static 'img/profile.png' %}"
                                                                         alt="Профиль"></a>
                            {% else %}
                                <a href="{% url 'users:login' %}"><img src="{% static 'img/login.png' %}"
                                                                       alt="Вход"></a>
                            {% endif %}
                        </div>
                        <div class="close">
                            <button class="burger"
                                    onclick="document.querySelector('.nav-burger').classList.remove('active');">
                                <img src="{% static 'img/close.png' %}" alt="Закрыть">
                            </button>
                        </div>
                    </div>
                    {% include 'includes/main-menu-mobile.html' %}
                </div>
            </li>
        </ul>
    </nav>
</header>