{% load datetime-diffrence %}
<div class="col">
    <fieldset>
        {% if product.time_create|time_difference < 30 %}
            <legend class="card-image-banner-new-product">Новинка</legend>
        {% endif %}
        <img class="col-img" src="{{ product.image_product.url }}" alt="{{ product.name }}">
    </fieldset>

    <h4 class="card-name-title">{{ product.name }}</h4>
    <p class="col-grams">1 кг</p>
    <p class="col-descr">{{ product.description|truncatechars:155 }}</p>
    <div class="col-price-btn">
            <p>{{ product.price }} грн</p>
            <a class='btn' href="{{ product.get_absolute_url }}">Детальніше</a>
    </div>
</div>