<div class="slider-container">
    {% if related_products %}
    <button class="nav-button prev">&lt;</button>
    <img src="" alt="Slider Image" class="slider-image">
    <button class="nav-button next">&gt;</button>
    {% else %}
        <img src="" alt="Slider Image" class="slider-image">
    {% endif %}
</div>

<script>
    var images = [
        '{{ product.image_product.url }}',
        {% for image in related_products %}
            '{{ image.image.url }}',
        {% endfor %}
    ];
    

    var currentIndex = 0;
    var imageElement = document.querySelector('.slider-image');

    function showImage(index) {
        if (index < 0) {
            currentIndex = images.length - 1;
        } else if (index >= images.length) {
            currentIndex = 0;
        } else {
            currentIndex = index;
        }
        imageElement.src = images[currentIndex];
    }
    
    showImage(currentIndex);
    
    document.querySelector('.nav-button.prev').addEventListener('click', function() {
        showImage(currentIndex - 1);
    });

    document.querySelector('.nav-button.next').addEventListener('click', function() {
        showImage(currentIndex + 1);
    });
</script>