<script>
    tippy('[data-tippy-content]');

    const swiper2 = new Swiper('.swiper2', {
        autoplay: {
            delay: 5000,
        },
        direction: 'horizontal',
        loop: true,
        pagination: {
            el: '.pagination2',
            clickable: true,
        },
        navigation: {
            nextEl: '.next2',
            prevEl: '.prev2',
        },

    });


    // Инициализация первого слайдера
    const swiper1 = new Swiper('.swiper1', {
        autoplay: {
            delay: 5000,
        },
        direction: 'horizontal',
        loop: true, // Цикличный слайдер
        pagination: {
            el: 'pagination1',
            clickable: true,
        },
        navigation: {
            nextEl: '.next1',
            prevEl: '.prev1',
        },
        watchOverflow: true,
        spaceBetween: 15,

        breakpoints: {
            900: {
                slidesPerView: 3,
            },
            650: {
                slidesPerView: 1,
            },
        }
    });

    // Функции изменения количества товара
    function decreaseQuantity() {
        const quantityInput = document.getElementById('quantity');
        let currentValue = parseInt(quantityInput.value);

        if (currentValue > parseInt(quantityInput.min)) {
            quantityInput.value = currentValue - 1;
        }
    }

    function increaseQuantity() {
        const quantityInput = document.getElementById('quantity');
        let currentValue = parseInt(quantityInput.value);

        quantityInput.value = currentValue + 1;
    }

    // Обработка добавления товара в корзину
    $(document).on('click', '#add-to-cart', function (e) {
        e.preventDefault();

        let selectedWeight = $('input[name="weight"]:checked').val() || '{{ product.slug|escapejs }}';

        $.ajax({
            url: "{% url 'cart:cart-add' %}",
            type: "POST",
            data: {
                'product_id': {{ product.id }},
                'quantity': $('#quantity').val(),
                'weight': selectedWeight,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function (response) {
                const BucketTag = document.getElementsByClassName('desktop-bucket-quantity');
                toastr.options = {
                positionClass: 'toast-top-center',
                timeOut: 1500,
                closeButton: true,
                showMethod: 'slideDown',
                showDuration: 255,
                hideMethod: 'fadeOut',
                hideDuration: 1000,
                }; // Закрываем toastr.options

                toastr.options.progressBar = true;
                toastr.success('{{ product.name|title }}', 'Доданий до кошика');
                if (!BucketTag.length) {
                    document.querySelector('.desktop-bucket-button').innerHTML += `
                            <legend id="bucket-change-quantity" class="desktop-bucket-quantity">
                            ${response.qty}
                            </legend>`;
                }
                document.getElementById('bucket-change-quantity').innerText = response.qty;
            },
            error: function (error) {
                toastr.options.progressBar = true;
                toastr.options.positionClass = 'toast-top-center';
                toastr.error('Кількість товару не може бути меншою за 1', 'Помилка');
            }
        })
    });
</script>