{% load query_get %}
<div class="product-dropmenu-container HideOnMobile">
    <button class="product-dropmenu-desk"
            onclick="document.querySelector('.price-filter-dropmenu').classList.toggle('active');"><i
            class="fas fa-filter"></i></button>
    <div class="price-filter-dropmenu">
        <div class="price-filter-dropmenu-settings">
            <button class="close-filter-btn"
                    onclick="document.querySelector('.price-filter-dropmenu').classList.remove('active');">
                <i class="fas fa-times" style="color: red;"></i></button>
            <a href="?{% url_delete request 'sort' %}"><i class="fas fa-redo"
                                                          style="color: #B721FF"></i></a>
        </div>

        <div class="price-filter-dropmenu-chooses">
            <p class="price-filter-dropmenu-title">Спочатку:</p>
            <a class="btn-white"
               href="?{% url_replace request 'sort' 'ASC' %}">дешевше</a>
            <a class=" btn-white"
               href="?{% url_replace request 'sort' 'DESC' %}">дорожче</a>
        </div>
    </div>
</div>