{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">{% endblock %}

{% block section %}
    <section>
        <div class="container">
            {% for field in form %}
                {% if field.errors %}
                    <div class="text-danger">
                        <ul>
                            {% for error in field.errors %}
                                <li><p>{{ error }}</p></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
            <form method="POST">
                {% csrf_token %}
                {{ form.new_password1 }}
                {{ form.new_password2 }}
                <button type="submit">Змінити</button>
            </form>
        </div>
    </section>
{% endblock %}